---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout title="Partnerships & Services | Centre of Excellence in e-Mobility">
  <main class="pt-16 pb-20 lg:pt-20 lg:pb-32">
    <Container>
      <h1
        class="text-4xl lg:text-5xl font-bold text-center mb-8 text-gray-800 dark:text-white"
        style={{ marginTop: "50px" }}
      >
        Partnerships & Services
      </h1>

      <section class="mb-16">
        <h2
          class="text-3xl font-bold mb-8 text-center text-gray-800 dark:text-white"
        >
          Partnerships
        </h2>
        <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
          <ul
            class="list-disc list-inside text-gray-600 dark:text-gray-300 text-2xl"
          >
            <li>Decibels lab Pvt. Ltd</li>
            <li>Mahindra Electric</li>
            <li>Safran Engineering Services</li>
          </ul>
        </div>
      </section>

      <section class="mb-16">
        <h2
          class="text-3xl font-bold mb-8 text-center text-gray-800 dark:text-white"
        >
          Internships and Placements
        </h2>
        <section
          class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg text-gray-800 dark:text-white"
        >
          <h2 class="text-2xl font-semibold mb-4">Internship Opportunities</h2>
          <div class="space-y-8">
            <div>
              <h3 class="text-xl font-semibold mb-2">Research Internships</h3>
              <ul class="list-disc pl-6 text-gray-600 dark:text-gray-300">
                <li>
                  <span class="font-semibold">Description:</span> Participate in
                  ongoing research projects related to energy storage systems, advanced
                  powertrain technologies, or sustainable transportation solutions.
                </li>
                <li>
                  <span class="font-semibold">Duration:</span> Flexible, available
                  year-round.
                </li>
                <li>
                  <span class="font-semibold">Requirements:</span> Basic knowledge
                  in relevant fields, commitment to research goals.
                </li>
                <li>
                  <span class="font-semibold">Deliverables:</span> Research contributions,
                  analysis reports, and project presentations.
                </li>
              </ul>
            </div>

            <div>
              <h3 class="text-xl font-semibold mb-2">Technical Internships</h3>
              <ul class="list-disc pl-6 text-gray-600 dark:text-gray-300">
                <li>
                  <span class="font-semibold">Description:</span> Work on designing,
                  testing, and optimizing EV components or systems, including battery
                  management systems, powertrain components, and software integration.
                </li>
                <li>
                  <span class="font-semibold">Duration:</span> Flexible, available
                  year-round.
                </li>
                <li>
                  <span class="font-semibold">Requirements:</span> Technical background
                  in engineering or related fields, proficiency in relevant tools
                  and technologies.
                </li>
                <li>
                  <span class="font-semibold">Deliverables:</span> Technical designs,
                  performance reports, and system improvements.
                </li>
              </ul>
            </div>

            <div>
              <h3 class="text-xl font-semibold mb-2">
                Consultancy Internships
              </h3>
              <ul class="list-disc pl-6 text-gray-600 dark:text-gray-300">
                <li>
                  <span class="font-semibold">Description:</span> Assist in consulting
                  projects involving energy storage solutions, powertrain design,
                  and sustainable transportation strategies.
                </li>
                <li>
                  <span class="font-semibold">Duration:</span> Flexible, available
                  year-round.
                </li>
                <li>
                  <span class="font-semibold">Requirements:</span> Strong analytical
                  skills, understanding of consulting processes.
                </li>
                <li>
                  <span class="font-semibold">Deliverables:</span> Consultancy reports,
                  strategic recommendations, and project support.
                </li>
              </ul>
            </div>

            <div>
              <h3 class="text-xl font-semibold mb-2">
                Innovation and Development Internships
              </h3>
              <ul class="list-disc pl-6 text-gray-600 dark:text-gray-300">
                <li>
                  <span class="font-semibold">Description:</span> Engage in innovation
                  projects and assist in the development of new technologies and
                  solutions in the e-mobility sector.
                </li>
                <li>
                  <span class="font-semibold">Duration:</span> Flexible, available
                  year-round.
                </li>
                <li>
                  <span class="font-semibold">Requirements:</span> Creativity, problem-solving
                  skills, and interest in innovation.
                </li>
                <li>
                  <span class="font-semibold">Deliverables:</span> Development prototypes,
                  innovation reports, and project documentation.
                </li>
              </ul>
            </div>

            <div>
              <h3 class="text-xl font-semibold mb-2">Summer Internships</h3>
              <ul class="list-disc pl-6 text-gray-600 dark:text-gray-300">
                <li>
                  <span class="font-semibold">Description:</span> Intensive internships
                  offered from May to July, providing immersive experience in various
                  e-mobility projects, including research, technical development,
                  and consultancy.
                </li>
                <li>
                  <span class="font-semibold">Duration:</span> May to July.
                </li>
                <li>
                  <span class="font-semibold">Requirements:</span> Enrollment in
                  relevant academic programs, willingness to commit to full-time
                  engagement during the summer period.
                </li>
                <li>
                  <span class="font-semibold">Deliverables:</span> Project-specific
                  contributions, detailed reports, and presentations.
                </li>
              </ul>
            </div>

            <div>
              <h3 class="text-xl font-semibold mb-2">Application Process</h3>
              <ul class="list-disc pl-6 text-gray-600 dark:text-gray-300">
                <li>
                  <span class="font-semibold">Pre-Application:</span> Inform the
                  Centre of your intention to apply for an internship well in advance
                  of your desired start date to ensure availability and proper arrangement
                  of internship roles.
                </li>
                <li>
                  <span class="font-semibold">Application Submission:</span> Submit
                  a resume, cover letter, and any relevant academic or project work
                  to the Centre’s internship coordinator.
                </li>
                <li>
                  <span class="font-semibold">Selection:</span> Internships will
                  be assigned based on your background, interests, and the Centre’s
                  current projects and needs.
                </li>
                <li>
                  <span class="font-semibold">Fee Structure:</span> Details of the
                  chargeable fee will be provided upon application, covering administrative
                  costs and resource usage.
                </li>
                <li>
                  <span class="font-semibold">Contact Information:</span> For further
                  details or to apply, please contact the Internship Coordinator
                  at the Centre of Excellence in e-Mobility at <a
                    href="mailto:emobility@kengeri.christuniversity.in"
                    class="highlight">emobility@kengeri.christuniversity.in</a
                  >.
                </li>
              </ul>
            </div>
          </div>
        </section>
      </section>

      <section class="mb-16">
        <h2
          class="text-3xl font-bold mb-8 text-center text-gray-800 dark:text-white"
        >
          Consultancy Services
        </h2>
        <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
          <div class="overflow-x-auto">
            <table class="min-w-full bg-white dark:bg-gray-800">
              <thead class="bg-gray-50 dark:bg-gray-700">
                <tr>
                  <th
                    class="py-2 px-4 border-b-2 border-gray-300 dark:border-gray-600 text-left text-gray-800 dark:text-white"
                    >Service Area</th
                  >
                  <th
                    class="py-2 px-4 border-b-2 border-gray-300 dark:border-gray-600 text-left text-gray-800 dark:text-white"
                    >Description</th
                  >
                  <th
                    class="py-2 px-4 border-b-2 border-gray-300 dark:border-gray-600 text-left text-gray-800 dark:text-white"
                    >Target Clients</th
                  >
                  <th
                    class="py-2 px-4 border-b-2 border-gray-300 dark:border-gray-600 text-left text-gray-800 dark:text-white"
                    >Key Deliverables</th
                  >
                </tr>
              </thead>
              <tbody>
                <tr class="bg-white dark:bg-gray-800">
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Energy Storage Systems</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Consulting on battery design, optimization, and management
                    systems.</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Battery manufacturers, EV companies</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Battery pack design, management system specifications,
                    optimization reports</td
                  >
                </tr>
                <tr class="bg-gray-50 dark:bg-gray-700">
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Advanced Powertrain Technologies</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Guidance on powertrain development, including motors,
                    controllers, and drivetrains.</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Automotive OEMs, startups, R&D labs</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Powertrain design specifications, performance analysis,
                    integration guidelines</td
                  >
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Software-Driven Vehicles</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Advice on software integration for vehicle control systems
                    and autonomous driving features.</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Vehicle manufacturers, tech startups</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Software architecture plans, system integration strategies,
                    testing protocols</td
                  >
                </tr>
                <tr class="bg-gray-50 dark:bg-gray-700">
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Sustainable Transportation Solutions</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Strategies for reducing environmental impact and enhancing
                    efficiency in transportation systems.</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Municipalities, transportation agencies, logistics
                    companies</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Sustainability reports, efficiency improvement plans,
                    policy recommendations</td
                  >
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Charging Infrastructure</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Design and implementation consulting for AC/DC charging
                    stations and networks.</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Infrastructure providers, EV service companies</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Charging station design, implementation roadmaps, standards
                    compliance guidelines</td
                  >
                </tr>
                <tr class="bg-gray-50 dark:bg-gray-700">
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Regulatory Compliance</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Assistance with navigating regulations and standards in
                    e-mobility.</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >EV manufacturers, technology providers</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Compliance reports, regulatory strategy documents,
                    certification support</td
                  >
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Training and Capacity Building</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Workshops and training programs for industry professionals
                    and academic institutions.</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Corporates, educational institutions</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Training modules, workshop schedules, certification
                    programs</td
                  >
                </tr>
                <tr class="bg-gray-50 dark:bg-gray-700">
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Innovation and Research Support</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Support for research initiatives, innovation projects, and
                    technology development.</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Research institutions, startups, government agencies</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Research proposals, technology development plans,
                    innovation roadmaps</td
                  >
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Start-up Incubation</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Support for new ventures in the e-mobility sector,
                    including mentorship and resources.</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Start-ups, entrepreneurs</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Business plans, mentorship sessions, funding guidance,
                    resource allocation</td
                  >
                </tr>
                <tr class="bg-gray-50 dark:bg-gray-700">
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Project Feasibility Analysis</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Evaluation of project viability, including technical,
                    economic, and environmental aspects.</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Investors, project developers</td
                  >
                  <td
                    class="py-2 px-4 border-b border-gray-300 dark:border-gray-600"
                    >Feasibility reports, risk assessments, cost-benefit
                    analyses</td
                  >
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </Container>
  </main>
</Layout>

<style>
  @media (max-width: 640px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  .highlight {
    @apply text-primary hover:underline;
  }
</style>
