---
const LINKS = [
  {
    title: "Product",
    items: ["Overview", "Features", "Solutions", "Tutorials"],
  },
  {
    title: "Company",
    items: ["About us", "Careers", "Press", "News"],
  },
  {
    title: "Resource",
    items: ["Blog", "Newsletter", "Events", "Help center"],
  },
];

const currentYear = new Date().getFullYear();
---

<footer class="relative w-full">
  <div class="mx-auto w-full max-w-7xl px-8">
    <div class="grid grid-cols-1 justify-between gap-4 md:grid-cols-2">
      <h5 class="mb-6 text-4xl">
        Center of Excellence in<br />
        <span class="text-green-600 font-bold">e-Mobility</span>
      </h5>
      <div class="grid grid-cols-3 justify-between gap-4">
        {
          LINKS.map(({ title, items }, index) => (
            <ul key={index}>
              <li class="mb-3 font-medium text-gray-600">{title}</li>
              {items.map((link) => (
                <li key={link}>
                  <a
                    href="#"
                    class="block py-1.5 text-gray-700 transition-colors hover:text-gray-900"
                  >
                    {link}
                  </a>
                </li>
              ))}
            </ul>
          ))
        }
      </div>
    </div>
    <div
      class="mt-12 flex w-full flex-col items-center justify-center border-t border-gray-200 py-4 md:flex-row md:justify-between"
    >
      <p class="mb-4 text-center text-gray-900 md:mb-0">
        &copy; {2018}
        <a href="https://material-tailwind.com/"> CoE in e-mobility</a>. All
        Rights Reserved.
      </p>
      <div class="flex gap-4 text-gray-900">
        <a
          href="https://www.linkedin.com/company/cu-emobility/"
          target="_blank"
          class="opacity-80 transition-opacity hover:opacity-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="40"
            height="40"
            viewBox="0 0 48 48"
          >
            <path
              fill="#0288D1"
              d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5V37z"
            ></path><path
              fill="#FFF"
              d="M12 19H17V36H12zM14.485 17h-.028C12.965 17 12 15.888 12 14.499 12 13.08 12.995 12 14.514 12c1.521 0 2.458 1.08 2.486 2.499C17 15.887 16.035 17 14.485 17zM36 36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698-1.501 0-2.313 1.012-2.707 1.99C24.957 25.543 25 26.511 25 27v9h-5V19h5v2.616C25.721 20.5 26.85 19 29.738 19c3.578 0 6.261 2.25 6.261 7.274L36 36 36 36z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
